// carousel
.carousel-item {
  height: 30vh;
}

.carousel-caption h2 {
  @include font-size($medium);
  font-weight: 400;
}
.carousel-caption p {
  @include font-size($small);
  font-weight: 400;
  font-family: $font;
}

.hero-infoGral-items {
  flex-direction: column;
  @include centrar;
  text-align: center;
  padding: 1rem;
}
.hero-infoGral-items h4 {
  @include font-size($medium);
  font-family: $font;
  font-weight: 400;
}
.hero-infoGral-p {
  @include font-size($small);
  font-family: $font;
  font-weight: 400;
}
.items-medio {
  border-style: none solid;
  border-color: #ff35ba;
}
.hero-infoGral-img {
  font-size: 36px;
  color: #4383e0;
}
// -----whatsup fixed------------
.whatsup-fixed {
  position: absolute;
  position: fixed;
  top: 85%;
  left: 95%;
  z-index: 10;
}
.icon-whatsup-fixed {
  color: #00d162;
  font-size: 35px;
}

// ------------newsletter-------------
.newsletter {
  background-color: #155052;
}
.btn-newsletter {
  background-color: #ff35ba;
  color: white;
  @include font-size($small);
  font-family: $font;
  font-weight: 500;
}

.big-text {
  @include font-size($medium);
  font-family: $font;
  font-weight: 400;
  margin-top: 3rem;
  padding-top: 2rem;
}
.small-p,
.big-text {
  color: white;
  text-align: center;
}
.newsletter-email {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}
//-------- modal carrito de compras------------

.row-card {
  position: relative;
}

.btn-eliminar {
  font-size: 24px;
}
.bi-plus {
  font-size: 25px;
}
.bi-dash {
  font-size: 25px;
}
.achicar {
  width: 120px;
}
.modal-nombre {
  font-family: $font;
  font-weight: bold;
  font-size: 20px;
}
.modal-cantidad {
  font-family: $font;
  font-weight: 300;
  font-size: 16px;
}
.modal-precio {
  display: inline-block;
  left: 70%;
  font-family: $font;
}
.img-modal img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.total {
  font-family: $font;
  font-size: 20px;
}
//--------buscador-----------
.buscador {
  width: 50%;
  margin: 0 auto;
}
.info-resultado {
  text-align: center;
}
.no-mostrar {
  display: none;
}
