// carousel
.carousel-item {
  height: 30vh;
}

.carousel-caption h2 {
  @include font-size($medium);
  font-weight: 400;
}
.carousel-caption p {
  @include font-size($small);
  font-weight: 400;
  font-family: $font;
}

.hero-infoGral-items {
  flex-direction: column;
  @include centrar;
  text-align: center;
  padding: 1rem;
}
.hero-infoGral-items h4 {
  @include font-size($medium);
  font-family: $font;
  font-weight: 400;
}
.hero-infoGral-p {
  @include font-size($small);
  font-family: $font;
  font-weight: 400;
}
.items-medio {
  border-style: none solid;
  border-color: #ff35ba;
}
.hero-infoGral-img {
  font-size: 36px;
  color: #4383e0;
}
// whatsup fixed
.whatsup-fixed {
  position: absolute;
  position: fixed;
  top: 85%;
  left: 95%;
  z-index: 10;
}
.icon-whatsup-fixed {
  color: #00d162;
  font-size: 35px;
}
// links de la ropa
.link-imagen {
  position: relative;
  overflow: hidden;
}

.link-img-fondo {
  width: 100%;
  height: 512px;
  object-fit: cover;
  transition: 0.5s;
}
.link-img-fondo:hover {
  transform: scale(1.1);
}
.texto-remeras,
.btn-texto,
.link-img-fondo {
  position: absolute;
}

.btn-texto {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.texto-remeras {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  @include font-size($big);
  font-weight: 400;
}
.btn-texto,
.small-p {
  @include font-size($small);
  font-weight: 400;
  font-family: $font;
  text-align: center;
}

.link-remeras {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 32rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 45%));
}
// newsletter
.newsletter {
  background-color: #155052;
}

.texto-email {
  background-color: #ff35ba;
  @include font-size($small);
  font-family: $font;
  font-weight: 500;
  color: white;
}
.big-text {
  @include font-size($medium);
  font-family: $font;
  font-weight: 400;
  margin-top: 3rem;
  padding-top: 2rem;
}
.small-p,
.big-text {
  color: white;
}
.newsletter-email {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}
// modal carrito de compras

.btn-eliminar {
  font-size: 24px;
}
.achicar {
  width: 120px;
}
.modal-precio {
  display: inline-block;
  left: 70%;
}
.img-modal img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

//------buscador-----
.buscador {
  width: 50%;
  margin: 0 auto;
}
.info-resultado {
  text-align: center;
}
