.card-container {
  padding-top: 4rem;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.btn-card {
  color: white;
}
