// fondo general del main
// $bg-color: #ececec;
$bg-color: #ecf0f1;
// font color black
$font-black: black;
// bg del fotter y header
// $bg-foot-head: #c5ecec;
$bg-foot-head: white;

$font: "Poppins", sans-serif;
